snippet moquery
struct query {
  int l,r;

  // Faster query sort for Mo's
  bool operator <(const query& q) {
    if (l/SQ == q.l/SQ)
      return ((r < q.r) ^ ((l/SQ)%2));
    return l < q.l;
  }
};
endsnippet
